body {
  background-color: #F5F5F3;
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

/* Barra roja superior */
.logo-bar {
  background-color: #C1121F;
  color: white;
  text-align: center;
  padding: 15px;
}

.logo-bar h1 {
  margin: 0;
  font-size: 32px;
  letter-spacing: 2px;
}

/* Navbar */
nav {
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 15px;
  background-color: white;
}

nav a {
  text-decoration: none;
  color: #C1121F;
  font-weight: 600;
  font-size: 18px;
}

nav a:hover {
  opacity: 0.7;
}

/* Contenido */
.contenedor {
  max-width: 1000px;
  margin: auto;
  text-align: center;
}

h1 {
  margin-top: 50px;
}